.pie {
    background-color: var(--negro);
    display: flex;
    flex-direction: column; /* Cambia la dirección de los elementos a columna */
    align-items: center; /* Centra horizontalmente los elementos en la columna */
    justify-content: center; /* Centra verticalmente los elementos en la columna */
    padding: 20px; /* Añade un poco de padding para espaciar los elementos */
}

img {
    width: 100px;
    margin-bottom: 10px; /* Espacio entre el logo y el texto */
}

.pie h2 {
    color: var(--blanco);
    font-size: 13px;
    text-align: center; /* Asegura que el texto esté centrado */
}

